Luxury Client Re-engagement Agent.json
{
  "name": "Luxury Client Prioritisation Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b2577e2d-d05f-4a18-a7f9-d3423e8be28f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18sJwG_e1aESI1JslZ3BbMZQggdmCNAL8Rh59BeatYw0",
          "mode": "list",
          "cachedResultName": "luxury_customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18sJwG_e1aESI1JslZ3BbMZQggdmCNAL8Rh59BeatYw0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 313458300,
          "mode": "list",
          "cachedResultName": "luxury_customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18sJwG_e1aESI1JslZ3BbMZQggdmCNAL8Rh59BeatYw0/edit#gid=313458300"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "089c11d8-2238-44e5-860d-bd207b4188d0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y066o0vQLCJDaH5k",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0909bea6-9a1e-4b4e-87c0-3db9e8c5615b",
              "leftValue": "={{ $json.days_since_purchase }}",
              "rightValue": 90,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1135c681-bd4d-4e7a-a58c-5f12f0115188",
              "leftValue": "={{ $json.vip_tier }}",
              "rightValue": "Platinum",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "bbfb21d5-d000-437b-ab50-07d1360ff2e5",
      "name": "Filter"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior clienteling manager at a global luxury house. Write a warm, sophisticated, personalised outreach message for a sales associate to send to the following client who has not visited in over 90 days.\n\nClient name: {{ $json.first_name }} {{ $json.last_name }}\nVIP Tier: {{ $json.vip_tier }}\nNationality: {{ $json.nationality }}\nCity: {{ $json.city }}\nLast purchase: {{ $json.last_purchase_item }} on {{ $json.last_purchase_date }}\nDays since last purchase: {{ $json.days_since_purchase }}\nClienteling notes: {{ $json.clienteling_notes }}\nLast contact outcome: {{ $json.contact_outcome }}\nPreferred contact channel: {{ $json.preferred_contact }}\n\nWrite a message of maximum 3 sentences. Sophisticated, warm, personal. Never generic. Never salesy. Start with \"For {{ $json.first_name }} {{ $json.last_name }}:\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "1fe29ba7-7844-4893-b2f5-d533cd533f3f",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "157X7TzdVTZUojzG",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18sJwG_e1aESI1JslZ3BbMZQggdmCNAL8Rh59BeatYw0",
          "mode": "list",
          "cachedResultName": "luxury_customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18sJwG_e1aESI1JslZ3BbMZQggdmCNAL8Rh59BeatYw0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Daily Briefing",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.content[0].text}}"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "merged_response",
              "displayName": "merged_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "45f65416-83d7-42a1-ac02-70725671b9a4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y066o0vQLCJDaH5k",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c6c9112a-3de7-4cb0-a0a3-9a5d927c2c31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c560afd1ca9555d9c64e0268b6aeff421aa7fcd583d6a296da47fce87385e1a6"
  },
  "id": "CNQCkU3UDnuiGjPf",
  "tags": []
}